@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

input::-ms-reveal, input::-ms-clear {
    display: none;
}

img {
    pointer-events: none;
}

.page {
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(235, 235, 240);
}

.container {
    position: absolute;
    display: flex;
    width: 90%;
    height: 90%;
    background: rgb(245, 245, 250);
    border: 8px solid rgb(255, 255, 255);
    border-radius: 25px;
    overflow: hidden;
}

.col {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.image-col {
    flex-direction: column;
    gap: 24px;
    background: rgba(101, 129, 244, .6);
}

.about {
    max-width: 75%;
    text-align: center;
    color: rgb(255, 255, 255);
}

.about h5 {
    margin-bottom: 8px;
    font-size: 20px;
}

.about p {
    line-height: 20px;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.form-head h5 {
    font-size: 24px;
}

.form-head p {
    margin-top: 10px;
    font-size: 12px;
}

input {
    display: block;
    margin-top: 16px;
    height: 24px;
    padding: 24px;
    min-width: 275px;
    outline: none;
    border: none;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(101, 129, 244, .1);
    border-radius: 8px;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

input::placeholder {
    font-size: 13px;
    color: rgb(150, 150, 150);
}

.tip {
    display: block;
    margin-top: 5px;
    text-align: left;
    font-size: 12px;
    color: rgb(255, 50, 50);
}

button {
    width: 100%;
    margin-top: 24px;
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgba(101, 129, 244, .9);
    cursor: pointer;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.form-footer {
    margin-top: 16px;
    padding-top: 20px;
    width: 100%;
    border-top: 1px solid rgb(200, 200, 200);
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.notif {
    position: absolute;
    display: flex;
    top: 16px;
    right: 18px;
    padding: 12px 18px;
    border-radius: 8px;
    align-items: center;
    gap: 8px;
    transform: translateX(150%);
    animation: showError 3s ease-in-out forwards;
    animation-delay: calc(1s * var(--delay));
    background: rgba(255, 100, 100, .2);
    font-size: 14px;
    color: rgb(255, 50, 50);
}

.notif.success {
    display: block;
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgb(100, 200, 150);
    color: rgb(255, 255, 255);
}

.notif.success span {
    line-height: 32px;
}

.notif.success i {
    transform: translateY(3px) translateX(-3px);
}

.notif i {
    font-size: 24px;
}

@keyframes showError {
    0%, 100% {
        transform: translateX(150%);
    }
    10%, 90% {
        transform: translateX(-10%);
    }
    15%, 85% {
        transform: translateX(0);
    }
}

.evented-btn:active {
    transform: translateY(10%);
    filter: brightness(1.3);
}

.login-select {
    display: flex;
    margin: 12px auto 24px;
    width: min-content;
    gap: 8px;
}

.login-select-box {
    padding: 12px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 18px;
    color: rgb(150, 150, 150);
    cursor: pointer;
}

.login-select-box.active {
    background: rgba(101, 129, 244, .9);
    color: rgb(255, 255, 255);
}

.login-select-box:hover {
    transform: translateY(3px);
}

.switched-field {
    display: none;
}

.switched-field.used {
    display: block;
}

.password-wrapper {
    position: relative;
}

.show-pass {
    position: absolute;
    display: none;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    color: rgb(150, 150, 150);
}

.password-wrapper:hover .show-pass {
    display: inline;
}