@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body.blue-page {
    --main-color: rgb(101, 129, 244);
    --second-color: rgb(108, 138, 211);
    --third-color: rgb(176, 187, 227);
    --third-transparent: rgba(176, 187, 227, .5);
    --page-color: rgb(233, 241, 255);
    --placeholder: rgb(240, 246, 254);
    --hover: rgb(239, 244, 254);
    --extend-bg: rgb(223, 231, 255);
    --extend-bg2: rgb(235, 240, 255);
}

body.red-page {
    --main-color: rgb(255, 100, 100);
    --second-color: rgb(222, 109, 107);
    --third-color: rgb(238, 149, 175);
    --third-transparent: rgba(238, 149, 175, .5);
    --page-color: rgb(255, 233, 241);
    --placeholder: rgb(254, 240, 246);
    --hover: rgb(254, 239, 244);
    --extend-bg: rgb(255, 223, 231);
    --extend-bg2: rgb(255, 235, 240);
}

body.green-page {
    --main-color: rgb(100, 200, 150);
    --second-color: rgb(107, 177, 158);
    --third-color: rgb(176, 227, 187);
    --third-transparent: rgba(176, 227, 187, .5);
    --page-color: rgb(233, 255, 241);
    --placeholder: rgb(240, 254, 246);
    --hover: rgb(239, 254, 244);
    --extend-bg: rgb(223, 255, 231);
    --extend-bg2: rgb(235, 255, 240);
}

body.black-page {
    --main-color: rgb(100, 100, 130);
    --second-color: rgb(100, 100, 150);
    --third-color: rgb(150, 150, 200);
    --third-transparent: rgba(150, 150, 200, .5);
    --page-color: rgb(233, 241, 255);
    --placeholder: rgb(240, 246, 254);
    --hover: rgb(239, 244, 254);
    --extend-bg: rgb(223, 231, 255);
    --extend-bg2: rgb(235, 240, 255);
}

img {
    pointer-events: none;
}

.page {
    position: relative;
    min-height: 100vh;
}

.page.db-page {
    background: linear-gradient(to right bottom, var(--page-color), rgb(255, 255, 255));
}

.db-header {
    position: relative;
    display: flex;
    align-items: center;
}

.db-header-label {
    display: flex;
    padding: 0 48px;
    padding-top: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-size: 16px;
    gap: 8px;
    color: var(--second-color);
}

.db-header-label i {
    font-size: 36px;
}

.db-header-content {
    position: relative;
    display: flex;
    min-height: 108px;
    max-height: 108px;
    width: 100%;
    padding: 16px 32px;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 16px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 25px rgba(0, 0, 0, .05);

}

.page-info h5 {
    margin-bottom: 5px;
    font-size: 18px;
    color: var(--second-color);
}

.page-info p {
    line-height: 16px;
    max-width: 300px;
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.db-account {
    display: flex;
    align-items: center;
    gap: 24px;
}

.db-account img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.db-account i {
    -webkit-text-stroke: .5px rgb(255, 255, 255);
    font-size: 32px;
    color: var(--second-color);
}

.page-search {
    position: relative;
}

.page-search input {
    min-width: 500px;
    border: none;
    padding: 8px 12px;
    outline: none;
    background: var(--placeholder);
    border-radius: 5px;
    font-size: 14px;
    color: var(--second-color);
}

.page-search input::placeholder {
    font-size: 12px;
    color: var(--second-color);
}

.related-search {
    position: absolute;
    width: 100%;
    max-height: 200px;
    border-radius: 12px;
    transform: translateY(16px);
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, .07);
    overflow-y: scroll;
    z-index: 1000;
}

.related-search::-webkit-scrollbar {
    width: 0;
}

.related-row {
    display: none;
    padding: 12px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.related-row:hover {
    background: var(--hover);
}

.related-row .related-title {
    font-size: 16px;
    color: var(--main-color);
}

.related-row .related-title span, .related-row p {
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.btn {
    padding: 8px 12px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.btn-icon {
    padding: 7px 10px;
    font-size: 16px;
}

.btn.on {
    background: var(--main-color);
    color: rgb(255, 255, 255);
}

.db-section {
    position: absolute;
    display: flex;
    bottom: 0;
    align-items: stretch;
    min-height: calc(100vh - 145px);
    max-height: calc(100vh - 145px);
}

.db-nav {
    position: absolute;
    display: flex;
    padding-top: 24px;
    height: 100%;
    max-width: 75px;
    min-width: 75px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0, 0, 0, .07);
    background: rgb(255, 255, 255);
    border-top-right-radius: 12px;
    z-index: 10;
    transition: .5s;
    overflow: hidden;
}

.db-nav:hover {
    padding-left: 8px;
    min-width: 216px;
    max-width: 216px;
}

.db-nav-box:first-child {
    position: relative;
    max-height: 65%;
}

.db-nav-box:last-child {
    transition: .5s;
}

.db-nav:hover .db-nav-box:last-child {
    margin-left: -8px;
}

.db-nav-main-box {
    max-height: 100%;
    overflow-y: scroll;
}

.db-nav-main-box::-webkit-scrollbar {
    width: 0;
}

.fog-box {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    background: linear-gradient(to top, rgb(255, 255, 255), transparent);
}

.main-nav {
    position: relative;
    width: 100%;
    max-height: 54px;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 16px 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: .5s;
    text-align: center;
    color: var(--second-color);
}

.link-outside {
    color: var(--second-color);
}

.db-nav:hover .nav-icon {
    gap: 16px;
}

.nav-icon i {
    text-align: left;
    min-width: 25px;
}

.main-nav p, .main-nav a {
    min-width: max-content;
    font-size: 14px;
}

.main-nav.disappeared {
    min-height: 64px;
    opacity: 0;
}

.nav-icon:hover {
    color: var(--third-color);
}

.main-nav.active .nav-icon, .main-nav.active .nav-icon:hover {
    margin-left: 12px;
    padding-left: 20px;
    background: var(--page-color);
    color: var(--second-color);
}

.db-nav:hover .main-nav.active {
    max-height: 750px;
}

.nav-icon.font-lg {
    font-size: 29px;
}

.nav-icon.font-md {
    font-size: 26px;
}

.nav-icon.font-sm {
    font-size: 22px;
}

.sub-nav {
    position: relative;
    margin-top: 13px;
    margin-left: 48px;
    transition: .3s;
}

.db-nav:hover .sub-nav {
    margin-left: 48px;
}

.sub-nav a {
    position: relative;
    display: block;
    margin-top: 8px;
    font-size: 13px;
    color: rgb(100, 100, 100);
}

.sub-nav a:hover {
    color: var(--second-color);
}

.sub-nav a:hover::after {
    background: var(--second-color);
}

.sub-nav a::after {
    position: absolute;
    content: '';
    top: 3px;
    left: -16px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--third-color);
}

.db-nav-back {
    position: absolute;
    top: 0;
    left: -200%;
    height: 100%;
    width: max-content;
    padding: 32px 48px;
    padding-left: 32px;
    background: var(--extend-bg);
    border-top-right-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .05);
    transition: .5s;
    z-index: 1;
}

.db-nav-back.active {
    left: 90%;
}

.label {
    width: max-content;
    padding: 3px 5px;
    border-radius: 5px;
    background: var(--main-color);
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.nav-link {
    margin-top: 12px;
}

.nav-link a {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: var(--main-color);
}

.nav-link a:hover {
    color: rgb(100, 100, 100);
}

.as-label {
    display: block;
    width: max-content;
    margin-top: 16px;
    margin-left: -20px;
    padding: 3px 8px;
    background: var(--main-color);
    border-radius: 3px;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.db-content {
    position: relative;
    width: 100%;
    margin-left: 170px;
    margin-bottom: 24px;
    min-width: calc(100vw - 200px);
    max-width: calc(100vw - 200px);
    min-height: calc(100vh - 175px);
    max-height: calc(100vh - 175px);
    overflow-y: scroll;
}

.db-content::-webkit-scrollbar {
    width: 0;
}

.statistic-page {
    position: relative;
    display: flex;
    width: 100%;
    gap: 24px;
}

.statistic-col {
    position: relative;
    width: 100%;
}

.statistic-col:last-child {
    max-width: 300px;
}

.statistic-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.horizon-card {
    position: relative;
    flex: 1;
    min-width: 300px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    overflow: hidden;
}

.card-row, .card-percentage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.card-row {
    position: relative;
    padding: 18px;
    color: var(--main-color);
}

.card-row:first-child h5 {
    font-size: 14px;
}

.card-row:first-child a {
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.card-row i {
    -webkit-text-stroke: .5px rgb(255, 255, 255);
}

.card-row:first-child i {
    font-size: 32px;
}

.card-row:last-child {
    font-weight: bold;
    background: var(--extend-bg);
}

.down-percen {
    margin-top: -8px;
    color: rgb(255, 0, 0);
}

.up-percen {
    margin-top: -8px;
    color: rgb(100, 200, 150);
}

.percen-more {
    position: absolute;
    bottom: 12px;
    right: 18px;
    text-align: right;
    font-size: 8px;
}

.horizon-card.important .card-row:first-child {
    background: var(--main-color);
    color: rgb(255, 255, 255);
}

.horizon-card.important .card-row:first-child a {
    color: rgb(245, 245, 245);
}

.horizon-card.important .card-row:last-child {
    background: rgb(255, 255, 255);
}

.simple-chart {
    position: relative;
    padding: 24px;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .05);
    background: rgb(255, 255, 255);
}

.chart-data {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simple-chart .chart {
    transform: scale(.8);
    max-width: 250px;
    max-height: 250px;
}

.chart-detail-row {
    display: flex;
    margin: 8px 0;
    justify-content: space-between;
    align-items: center;
}

.chart-detail-col {
    display: flex;
    align-items: center;
    color: rgb(100, 100, 100);
    gap: 12px;
}

.chart-detail-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.detail-value {
    font-weight: bold;
}

.chart-head {
    margin-bottom: 12px;
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.chart-head h5 {
    font-size: 16px;
    color: var(--second-color);
}

.chart-total {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
}

.chart-total h5 {
    margin-bottom: -5px;
    font-size: 32px;
    color: var(--second-color);
}

.chart-total p {
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.big-chart {
    margin-top: 24px;
    padding: 24px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, .05);
    border-radius: 12px;
}

.big-chart-header {
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
    align-items: center;
}

.chart-title {
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.chart-title h5 {
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--second-color);
}

.chart-data-holder {
    display: none;
}

.filter-box {
    padding: 12px;
    border-radius: 12px;
    background: var(--main-color);
    cursor: pointer;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.filter-box.alpha {
    background: rgb(255, 100, 100);
}

.chart-graphic canvas {
    max-height: 250px;
}

#weekly-chart.active {
    display: none !important;
}

#alpha-chart {
    display: none !important;
}

#alpha-chart.active {
    display: block !important;
}

.statistic-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.statistic-table tr {
    display: block;
    margin-bottom: 16px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .025);
}

.statistic-table thead tr {
    background: transparent;
    box-shadow: none;
}

.statistic-table td img {
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-left: 12px;
    border-radius: 50%;
    object-fit: cover;
}

.statistic-table th {
    width: 100%;
    min-width: 200px;
    text-align: left;
    font-weight: lighter;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.statistic-table td {
    text-align: left;
    padding: 8px 0;
    width: 100%;
    min-width: 200px;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.statistic-table .col-image {
    min-width: 100px;
    width: 100px;
}

.statistic-table .col-image h1 {
    margin-left: -16px;
    padding: 12px;
    text-align: center;
    font-size: 24px;
}

.col-image h1.c-min-rank {
    color: rgb(255, 150, 0);
}

.col-image h1.d-rank {
    color: rgb(255, 100, 100);
}

.col-image h1.e-rank {
    color: rgb(255, 0, 0);
}

.statistic-table .col-center {
    text-align: center;
    min-width: 150px;
    width: 150px;
}

.data-template {
    position: relative;
}

.data-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 12px;
}

.data-card {
    position: relative;
    flex: 1;
    padding: 16px 24px;
    min-width: 300px;
    background: var(--main-color);
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    color: rgb(255, 255, 255);
}

.data-card:hover {
    transform: translateY(8px);
}

.data-card h5 {
    font-size: 32px;
}

.data-card i {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateY(180deg);
    font-size: 72px;
    color: rgba(255, 255, 255, .4);
}

.data-filter-card {
    position: relative;
    flex: 1;
    padding: 24px;
    min-width: 300px;
    background: var(--main-color);
    border-radius: 12px;
    color: rgb(255, 255, 255);
}

.note {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    color: rgba(255, 255, 255, .8);
}

.input-container {
    display: flex;
    margin-top: 8px;
    align-items: stretch;
    font-size: 12px;
    color: rgba(255, 255, 255, .4);
}

.input-box {
    flex: 2;
    padding: 8px 12px;
    background: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid rgba(255, 255, 255, .4);
    outline: none;
    transition: .3s;
}

.input-box::placeholder {
    transition: .5s;
    font-size: 12px;
    color: rgba(255, 255, 255, .4);
}

.input-box:hover {
    border: 2px solid rgba(255, 255, 255, .8);
    color: rgba(255, 255, 255, .8);
}

.input-box:hover::placeholder {
    color: rgba(255, 255, 255, .8);
}

.input-btn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: var(--main-color);
}

.filter-drop-down {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    padding: 24px;
    padding-top: 0;
    max-height: 200px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: var(--main-color);
    overflow-y: scroll;
    z-index: 100;
}

.filter-drop-down::-webkit-scrollbar {
    width: 0;
}

.filter-value {
    display: none;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .6) 50%, rgba(255, 255, 255, .4) 50%);
    transition: .5s;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.filter-value:hover {
    background: rgb(255, 255, 255);
}

.data-content {
    margin-top: 24px;
}

.data-controller {
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .05);
}

.controller-role {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 8px;
    cursor: pointer;
    color: var(--second-color);
}

.controller-role i {
    font-size: 20px;
}

.controller-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.controller-date {
    font-size: 14px;
    color: rgb(150, 150, 150);
}

.controller-date span {
    color: var(--second-color);
}

.controller-btn {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    background: var(--main-color);
    border: none;
    outline: none;
    border-radius: 8px;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.affect-on-image.uploaded {
    background: rgb(100, 200, 150);
}

.controller-btn i {
    font-size: 20px;
}

.data-grid {
    margin-top: 24px;
    max-height: calc(100vh - 400px);
    overflow-y: scroll;
}

.data-grid.master-grid {
    max-height: calc(100vh - 75px);
}

.data-grid::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.dataTables_wrapper.no-footer .dataTables_filter {
    margin-top: 24px;
    margin-bottom: 5px;
    padding: 5px 12px;
    padding-right: 5px;
    width: max-content !important;
    background: var(--main-color);
    border-radius: 8px;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.dataTables_wrapper.no-footer .dataTables_length {
    display: none;
}

.dataTables_wrapper.no-footer .dataTables_length select {
    display: inline-block;
    margin: 0 5px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    outline: none;
}

.dataTables_wrapper.no-footer .dataTables_length select:hover {
    color: rgb(100, 100, 100);
}

.dataTables_wrapper.no-footer .dataTables_filter input {
    display: inline-block;
    margin-left: 8px;
    outline: none;
    border: none;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
}

.dataTables_wrapper .dataTables_info {
    display: none !important;
}

.dataTables_paginate a {
    display: none !important;
}

.data-grid table.dataTable {
    margin: 0;
    width: 100% !important;
    border-collapse: collapse;
}

.data-grid .dataTable tbody tr {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(240, 240, 240);
}

.data-grid .dataTable tbody tr:hover td {
    color: var(--second-color);
}

.data-grid .dataTable th, .data-grid .dataTable td {
    padding: 16px;
    min-width: 150px;
    max-width: 300px;
    border: none;
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
}

.data-grid .dataTable .col-left {
    text-align: left;
}

.data-grid .dataTable td {
    line-height: 20px;
    font-size: 14px;
    color: rgb(125, 125, 125);
}

.data-grid .dataTable th:first-child, .data-grid .dataTable td:first-child, .data-grid .dataTable th:last-child, .data-grid .dataTable td:last-child {
    padding: 16px 12px;
    max-width: 100px;
    gap: 3px;
}

.data-grid .dataTable th.action, .data-grid .dataTable td.action {
    min-width: 64px;
}

.data-grid .dataTable th:first-child, .data-grid .dataTable td:first-child {
    min-width: 32px;
}

.data-grid .dataTable th:first-child::after, .data-grid .dataTable th:first-child::before, .data-grid .dataTable th:last-child::after, .data-grid .dataTable th:last-child::before {
    display: none;
}

.data-grid .dataTable .as-label {
    display: inline-block;
    margin: 0 auto;
}

.data-grid .dataTable td:last-child .as-label {
    margin: 0;
    cursor: pointer;
}

.as-label.aqua {
    background: rgb(91, 192, 222);
}

.as-label.yellow {
    background: rgb(240, 173, 78);
}

.as-label.green {
    background: rgb(75, 225, 125);
}

.as-label.red {
    background: rgb(255, 100, 100);
}

.as-label.grey {
    background: rgb(125, 125, 125);
}

.data-grid .dataTable .text-col {
    min-width: 250px;
}

.dataTables_scrollBody::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.data-modal {
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .5);
    transition: .5s;
    opacity: 0;
}

.modal-card {
    position: relative;
    display: none;
    padding: 32px;
    max-width: 650px;
    min-width: 350px;
    transform: scale(0);
    border-radius: 12px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 25px rgba(101, 129, 244, .3);
    transition: .5s;
}

.data-modal.active {
    opacity: 1;
}

.modal-card.active {
    transform: scale(1);
}

.form-head {
    display: flex;
    padding-bottom: 32px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.form-head img {
    width: 200px;
    height: 125px;
}

.form-head h5 {
    line-height: 28px;
    font-weight: 400;
    font-size: 20px;
    color: var(--main-color);
}

.form-head p {
    margin-top: 8px;
    line-height: 18px;
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.form-head p a {
    color: var(--main-color);
}

.form-form {
    position: relative;
    padding: 32px 0;
    padding-bottom: 0;
    max-height: calc(100vh - 350px);
    border-top: 2px solid rgb(235, 235, 235);
    overflow-y: scroll;
}

.form-form::-webkit-scrollbar {
    width: 0;
}

.form-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.form-row:nth-child(2) {
    margin-bottom: 64px;
}

.form-row.cross-row {
    margin-bottom: 24px;
}

.form-field {
    position: relative;
    flex: 1;
}

.form-form label {
    font-size: 12px;
}

.form-form input, .form-form textarea {
    display: block;
    padding: 5px;
    width: 100%;
    margin-top: 5px;
    min-width: 200px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--page-color);
    font-size: 12px;
    color: var(--main-color);
}

.form-form textarea {
    min-height: 75px;
    resize: none;
}

.form-form textarea::-webkit-scrollbar {
    width: 3px;
}

.form-form textarea::-webkit-scrollbar-track {
    background: rgba(101, 129, 244, .4);
}

.form-form textarea::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.form-form input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

.form-form input[type="file"] {
    cursor: pointer;
    min-height: 75px;
    background: var(--page-color);
    color: transparent;
}

.form-form input::placeholder {
    color: var(--main-color);
}

.form-form input[type="file"]::-webkit-file-upload-button, .import-page input[type="file"]::-webkit-file-upload-button {
    pointer-events: none;
    background: none;
    border: none;
    outline: none;
    color: transparent;
}

.input-tip {
    position: absolute;
    top: 116%;
    font-size: 11px;
    color: var(--second-color);
}

input.auto {
    cursor: not-allowed;
}

.form-form button {
    width: 100%;
    padding: 8px;
    margin-top: 24px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.form-form button.new {
    background: var(--main-color);
}

.form-form button.change {
    background: rgb(255, 200, 50);
}

.form-form button.destroy {
    background: rgb(255, 100, 100);
}

.close-btn {
    position: absolute;
    top: 14px;
    right: 18px;
    cursor: pointer;
    font-size: 24px;
    color: var(--main-color);
}

.related-list {
    position: absolute;
    top: 97%;
    right: 0;
    max-height: 100px;
    width: 48.9%;
    z-index: 100;
    overflow-y: scroll;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.related-list::-webkit-scrollbar {
    width: 0;
}

.related-list p {
    display: none;
    padding: 8px 16px;
    background: var(--main-color);
    font-size: 12px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.modal-id, .modal-fn {
    display: none;
}

.upload-logo {
    position: absolute;
    display: flex;
    top: 63%;
    left: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    gap: 5px;
    pointer-events: none;
    color: var(--third-color);
}

.upload-logo i {
    font-size: 32px;
}

.upload-logo h5 {
    font-size: 12px;
}

.data-content.master-template {
    margin: 0;
}

.master-template .data-grid {
    margin: 0;
}

.form-row .time-info {
    margin-bottom: 8px;
    text-align: center;
    font-size: 14px;
}

.req-card-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    justify-content: center;
    align-items: stretch;
    gap: 32px 16px;
}

.req-card {
    position: relative;
    min-width: 275px;
    max-width: 275px;
    min-height: 300px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, .07);
}

.req-head {
    position: relative;
    padding: 36px 24px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: var(--main-color);
    color: rgb(255, 255, 255);
}

.req-head p {
    font-size: 12px;
}

.req-head h5 {
    margin-top: -5px;
    font-size: 24px;
}

.req-status {
    position: absolute;
    top: -16px;
    right: 24px;
    min-width: 150px;
    padding: 8px 12px; 
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .07);
    font-weight: bold;
    font-size: 14px;
    color: var(--main-color);
}

.check-card {
    display: flex;
    left: 24px;
    min-width: 0;
    width: 32.8px;
    height: 32.8px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.check-card::after {
    position: absolute;
    content: '';
    width: 75%;
    height: 75%;
    background: rgba(101, 129, 244, .3);
}

.check-status {
    width: 100%;
    height: 100%;
    background: var(--main-color);
}

.req-action {
    position: absolute;
    display: flex;
    bottom: -12px;
    left: 24px;
    align-items: stretch;
    gap: 8px;
    z-index: 100;
}

.req-action span {
    display: flex;
    margin: 0;
    padding: 8px 12px;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 12px;
    gap: 5px;
}

.req-desc {
    position: relative;
    padding: 32px 24px;
    color: rgb(100, 100, 100);
}

.req-desc.minimize {
    padding-top: 24px;
}

.desc-title {
    margin-bottom: 5px;
    font-size: 18px;
}

.desc-sender {
    word-wrap: break-word;
    line-height: 20px;
    font-size: 12px;
}

.desc-author {
    margin-top: 8px;
    font-size: 12px;
    color: rgb(150, 150, 150);
}

.req-desc span {
    margin: 0;
    margin-top: 20px;
    padding: 8px 12px;
    cursor: pointer;
}

.form-head-type-2 {
    padding-bottom: 16px;
    color: var(--main-color);
}

.form-head-type-2 p {
    font-size: 14px;
}

.form-head-type-2 h5 {
    margin-top: -5px;
    margin-left: -1px;
    font-size: 32px;
}

.change-list {
    font-size: 18px;
    color: rgb(100, 100, 100);
}

.change-list span {
    display: block;
    margin: 12px 0 3px;
    font-size: 12px;
}

.change-list ul {
    margin-top: 32px;
}

.change-list ul:first-child {
    margin-top: 0;
}

.change-list span.as-label {
    margin: 0;
    font-size: 12px;
}

.change-list li {
    font-size: 14px;
}

.related-list p {
    position: relative;
}

.related-list input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

textarea::placeholder {
    color: rgb(175, 175, 175);
}

.req-status.refused {
    background: rgb(255, 50, 50);
    color: rgb(255, 255, 255);
}

.req-status.approved {
    background: rgb(50, 200, 100);
    color: rgb(255, 255, 255);
}

.no-data {
    position: absolute;
    display: none;
    transform: translateY(500%);
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    color: rgb(185, 185, 185);
    gap: 16px;
}

.no-data span {
    padding-right: 16px;
    border-right: 2px solid rgb(200, 200, 200);
    -webkit-text-stroke: .5px rgb(255, 255, 255);
    font-size: 32px;
}

.no-data.true {
    display: flex;
}

.notif {
    position: fixed;
    display: flex;
    top: 28px;
    right: 32px;
    padding: 12px 18px;
    border-radius: 8px;
    align-items: center;
    gap: 8px;
    transform: translateX(150%);
    animation: showError 3s ease-in-out forwards;
    animation-delay: calc(1s * var(--delay));
    background: rgba(255, 100, 100);
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.notif.success {
    background: rgb(100, 200, 150);
}

.notif i {
    font-size: 24px;
}

@keyframes showError {
    0%, 100% {
        transform: translateX(150%);
    }
    10%, 90% {
        transform: translateX(-10%);
    }
    15%, 85% {
        transform: translateX(0);
    }
}

.log-card {
    position: relative;
    min-width: 275px;
    max-width: 275px;
    max-height: 400px;
}

.card-content {
    width: 100%;
    height: 100%;
    margin-top: 25%;
    padding: 32px 32px;
    padding-top: 75px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .07);
}

.card-info {
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.card-info.date {
    margin-bottom: 24px;
    font-size: 12px;
}

.acc-admin {
    margin-bottom: 5px;
}

.card-info i {
    margin-right: 5px;
    font-size: 20px;
    color: rgb(175, 175, 175);
}

.card-content span {
    margin: 0;
    margin-top: 12px;
    margin-bottom: 8px;
}

.card-content p {
    line-height: 20px;
    font-size: 12px;
}

.card-head {
    position: absolute;
    display: flex;
    top: 54px;
    left: 50%;
    width: max-content;
    max-width: 200px;
    max-height: 200px;
    transform: translate(-50%, -50%);
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .07);
    background: var(--main-color);
    color: rgb(255, 255, 255);
    gap: 8px;
}

.card-head i {
    font-size: 48px;
}

input:read-only {
    cursor: context-menu;
}

.container-header {
    margin-top: 54px;
    margin-bottom: 48px;
    text-align: center;
    font-size: 24px;
    color: rgb(175, 175, 175);
}

.form-form input.image-field.uploaded {
    background: rgb(100, 200, 150);
}

.form-form .upload-logo.uploaded {
    color: rgb(255, 255, 255);
}

.day-label {
    margin-top: 16px;
    font-size: 13px;
    color: rgb(100, 100, 100);
}

.select-day {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.day-box {
    flex: 1;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid var(--main-color);
    font-size: 12px;
    color: var(--main-color);
    cursor: pointer;
}

.day-box:hover {
    background: rgba(101, 129, 244, .15);
}

.day-box.active {
    background: var(--main-color);
    color: rgb(255, 255, 255);
}

.add-check-btn {
    margin: 12px 0 16px;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.add-check-btn .form-field {
    max-width: max-content;
}

.mass-schedul {
    display: none;
    border-radius: 8px;
    padding: 8px 12px;
    background: var(--main-color);
    cursor: pointer;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.mass-schedul.active {
    display: block;
}

.mass-schedul:active {
    transform: translateY(5px);
}

.add-check-time {
    border-radius: 8px;
    padding: 8px 12px;
    background: var(--main-color);
    cursor: pointer;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.add-check-time:active {
    transform: translateY(5px);
}

.log-row {
    display: flex;
}

.log-row.bottom-field {
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.full-page-modal {
    background: rgb(235, 235, 235);
    transition: none;
}

.full-page-modal .modal-card {
    box-shadow: none;
    border-radius: 0;
    height: 100%;
    max-width: 75%;
    padding: 64px;
    padding-top: 32px;
    transition: none;
}

.full-page-modal .form-image img {
    width: 300px;
    height: 175px;
}

.full-page-modal .form-header h5 {
    line-height: 32px;
    font-size: 28px;
}

.full-page-modal .form-header p {
    font-size: 14px;
}

.full-page-modal .form-form label {
    font-size: 14px;
}

.full-page-modal .form-form input {
    padding: 8px;
    font-size: 14px;
}

.full-page-modal .day-box {
    padding: 10px 16px;
    font-size: 14px;
}

.full-page-modal .add-check-time {
    width: max-content;
    margin-bottom: 24px;
    padding: 10px 16px;
    font-size: 14px;
}

.full-page-modal .mass-schedul {
    width: max-content;
    margin-bottom: 24px;
    padding: 10px 16px;
    font-size: 14px;
}

.full-page-modal button {
    padding: 12px;
    font-size: 14px;
}

.full-page-modal .modal-card .close-btn {
    top: 92%;
    right: 64px;
    background: none;
    font-size: 14px;
    color: rgb(150, 150, 150);
}

.full-page-modal .form-form {
    max-height: calc(100vh - 325px);
}

.rekap-area {
    position: relative;
    display: flex;
    padding: 32px;
    margin: 12px 0;
    flex-wrap: wrap;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    gap: 24px;
}

.rekap-box {
    position: relative;
}

.rekap-box label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--second-color);
    gap: 5px;
}

.rekap-box input {
    display: block;
    margin-top: 8px;
    width: 250px;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid var(--third-color);
    outline: none;
    font-size: 12px;
    color: var(--second-color);
}

.rekap-grid {
    padding: 32px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
}

.rekap-table {
    width: 100%;
    min-width: max-content;
    border-collapse: collapse;
}

.rekap-table th, .rekap-table td {
    padding: 16px 32px;
    border: 1px solid rgb(225, 225, 225);
    vertical-align: top;
    max-width: 300px;
    text-align: center;
    font-size: 13px;
    color: rgb(150, 150, 150);
}

.rekap-table th {
    font-weight: lighter;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.rekap-table th:first-child, .rekap-table td:first-child {
    padding: 16px 5px;
}

.rekap-table td {
    padding: 24px 32px 16px;   
}

.rekap-table td:first-child {
    padding: 24px 5px 16px;
}

.rekap-table td.marked-col {
    padding-right: 20px;
    text-align: right;
}

.rekap-table .value-col {
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
}

.rekap-table tbody {
    border-right: 4px solid rgb(245, 245, 245);
}

.rekap-table tbody:hover {
    border-right: 4px solid var(--main-color);
}

.rekap-table tbody:hover tr:first-child td:first-child {
    background: var(--main-color);
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.rekap-table .data-row:hover td, .preview-table tbody tr:hover td {
    color: var(--main-color);
}

.preview-table {
    max-height: calc(100vh - 275px);
}

.preview-table tbody:hover, .big-table tbody:hover {
    border-right: 4px solid rgb(245, 245, 245);
}

.preview-table tbody:hover tr:first-child td:first-child, .big-table tbody:hover tr:first-child td:first-child {
    background: none;
    color: rgb(150, 150, 150);
}

.preview-table tbody tr:hover, .big-table tbody tr:hover {
    border-right: 4px solid var(--main-color);
}

.preview-table tr:hover td:first-child, .big-table tr:hover td:first-child {
    background: var(--main-color) !important;
    color: rgb(255, 255, 255) !important;
}

.rekap-chart-plate {
    padding: 32px;
    margin-top: 12px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, .05);
    border-radius: 12px;
}

.rekap-chart-head h5 {
    font-size: 16px;
    color: rgb(125, 125, 125);
}

.rekap-chart-head p {
    font-size: 12px;
    color: rgb(150, 150, 150);
}

.rekap-chart-graphic {
    margin-top: 12px;
}

.rekap-chart-graphic canvas {
    width: 100%;
    max-height: 40vh;
}

.chart-data-resource {
    display: none;
}

.print-page {
    background: rgb(250, 250, 255);
}

.print-control {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    background: var(--main-color);
}

.print-head {
    padding: 48px;
    text-align: center;
}

.print-head  h5 {
    font-size: 16px;
    color: var(--main-color);
}

.print-head h3 {
    margin-top: 5px;
    font-size: 20px;
    color: var(--main-color);
}

.print-head p {
    margin-top: 8px;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

@media print {
    @page {
        size: A4;
        margin: 0;
        scale: 50;
    }

    h5, h3 {
        letter-spacing: 2px;
    }
}

.filter-sender {
    display: flex;
    align-items: flex-end;
}

.filter-sender button {
    margin-bottom: 1px;
    padding: 7px 12px;
    background: var(--main-color);
    border: none;
    outline: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    cursor: pointer;
}

.tip-span {
    display: block;
    margin-top: -1px;
    font-size: 10px;
}

.blocked-row {
    padding-top: 16px !important;
    color: rgb(255, 255, 255) !important;
}

.libur-row {
    pointer-events: none;
    border-right: 4px solid rgb(100, 200, 150) !important;
    background: rgb(100, 200, 150);
}

.izin-row {
    border-right: 4px solid var(--main-color);
    background: var(--main-color);
}

.alpha-row {
    pointer-events: none;
    border-right: 4px solid rgb(255, 75, 75);
    background: rgb(255, 75, 75);
}

.loading-layer {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .6);
    z-index: 10000;
}

.loading-layer i {
    animation: loading 1s linear infinite;
    font-size: 32px;
    color: var(--main-color);
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

.chat-template {
    position: absolute;
    width: 100%;
    height: 100%;
}

.chat-template .data-content {
    margin-top: 0;
}

.chat-app {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    gap: 12px;
}

.chat-list {
    position: relative;
    flex: 1;
    min-width: 250px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    overflow: hidden;
}

.chat-content {
    flex: 3;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    overflow: hidden;
}

.app-header {
    position: relative;
    display: flex;
    padding: 16px 18px;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
    color: rgb(255, 255, 255);
}

.app-header .profile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.app-header .logo i {
    font-size: 20px;
}

.app-header .profile-data {
    line-height: 12px;
    font-size: 12px;
}

.app-header .profile-tip {
    font-size: 10px;
}

.chat-search {
    padding: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.chat-search-box {
    display: flex;
    width: 100%;
    padding: 8px 12px;
    align-items: center;
    border-radius: 5px;
    background: var(--page-color);
    gap: 8px;
    font-size: 13px;
    color: var(--main-color);
}

.chat-search-box input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background: none;
    font-size: 12px;
    color: var(--main-color);
}

.chat-list-container {
    padding: 16px;
    max-height: 100%;
    padding-top: 8px;
    overflow: scroll;
}

.chat-list-container::-webkit-scrollbar {
    width: 0;
}

.chat-row {
    position: relative;
    padding: 12px 8px;
    padding-top: 16px;
    border-bottom: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    cursor: pointer;
}

.chat-row:hover {
    background: var(--page-color);
}

.chat-row p {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    gap: 5px;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.chat-row .as-label {
    margin: 0;
    font-size: 10px;
}

.chat-row .excerp-chat {
    display: block;
    margin-top: 8px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: 12px;
    color: rgb(150, 150, 150);
}

.welcome-chat {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.welcome-chat img {
    width: 50%;
    object-fit: cover;
}

.welcome-chat h1 {
    font-size: 24px;
    font-weight: lighter;
}

.welcome-chat p {
    margin-top: 12px;
    max-width: 500px;
    text-align: center;
    line-height: 20px;
}

.chat-session {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.chat-history {
    height: 100%;
    max-height: 100%;
    padding: 8px 24px 16px;
    overflow-y: scroll;
}

.chat-history::-webkit-scrollbar {
    width: 0;
}

.chat-sender {
    display: flex;
    padding: 5px 16px;
    justify-content: space-between;
    align-items: center;
    background: var(--page-color);
    gap: 12px;
    color: var(--main-color);
}

.chat-box-typer {
    width: 100%;
}

.chat-box-typer input {
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 16px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 14px;
    color: rgb(125, 125, 125);
}

.chat-btn i {
    font-size: 18px;
    cursor: pointer;
}

.messages-row {
    margin-bottom: 8px;
    pointer-events: none;
}

.messages-box {
    width: max-content;
    max-width: 65%;
    padding: 8px 8px 5px 10px;
    background: var(--extend-bg);
    border-radius: 8px;
    color: rgb(100, 100, 100);
}

.messages {
    font-size: 14px;
}

.chat-time-sended {
    display: flex;
    margin-top: 3px;
    align-items: center;
    gap: 5px;
    text-align: right;
    font-size: 11px;
    color: rgb(150, 150, 150);
}

.owned-by-you {
    display: flex;
    justify-content: flex-end;
}

.owned-by-you .messages-box {
    padding: 8px 10px 5px 8px;
    text-align: right;
    background: var(--main-color);
    color: rgb(255, 255, 255);
}

.owned-by-you .chat-time-sended {
    text-align: left;
    color: rgb(245, 245, 245);
}

.date-line {
    margin: 32px 0 18px;
    text-align: center;
    font-size: 12px;
    color: rgb(125, 125, 125);
}

.date-line:first-child {
    margin: 18px 0;
}

.chat-history .welcome-chat {
    transform: scale(.8);
}

.chat-history .welcome-chat img {
    width: 40%;
}

.app-clock {
    position: absolute;
    top: 13px;
    right: 16px;
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, .8);
}

.app-clock .hour {
    display: block;
    margin-bottom: -2px;
    font-weight: bolder;
    font-size: 11.5px;
    color: rgb(255, 255, 255);
}

.floating-btn {
    position: absolute;
    bottom: 8px;
    right: 16px;
    padding: 8px 10px;
    border-radius: 50%;
    background: var(--main-color);
    cursor: pointer;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.quick-messages {
    display: flex;
    padding: 8px;
    gap: 5px;
    max-width: 100%;
    overflow-x: scroll;
}

.quick-messages::-webkit-scrollbar {
    height: 0;
}

.q-messages-components {
    display: flex;
    min-width: max-content;
    padding: 12px 8px;
    border-radius: 8px;
    align-items: center;
    transition: .1s;
    background: var(--extend-bg2);
    cursor: pointer;
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.add-messages-btn {
    padding: 12px 9px;
    border-radius: 50%;
}

.input-quick-messages {
    gap: 8px;
}

.input-quick-messages input {
    background: none;
    border: none;
    outline: none;
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.q-messages-components:hover {
    transform: translateY(3px);
}

.quick-messages-list {
    gap: 12px;
}

.quick-messages-list .red {
    color: rgb(255, 150, 0);
}

.clean-this-btn {
    position: absolute;
    display: flex;
    top: 28px;
    right: 32px;
    padding: 12px 16px;
    align-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    cursor: pointer;
    gap: 5px;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.unread-notif {
    position: absolute;
    top: 20px;
    right: 8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(100, 200, 150);
}

.log-out-pop-up {
    position: absolute;
    display: none;
    bottom: -20px;
    right: 28px;
    padding: 10px;
    padding-left: 24px;
    align-items: center;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, .07);
    gap: 16px;
}

.profile-acc-box {
    cursor: pointer;
}

.profile-acc-box:hover ~ .log-out-pop-up {
    display: flex;
}

.log-out-pop-up:hover {
    display: flex;
}

.user-logged-name {
    font-size: 14px;
    color: rgb(255, 75, 75);
}

.log-out-btn {
    padding: 8px 12px;
    background: rgb(255, 75, 75);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.log-out-btn i {
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.evented-btn:active {
    transform: translateY(10%);
    filter: brightness(1.3);
}

body.no-blob * {
    border-radius: 0 !important;
}

body.no-shadow * {
    box-shadow: none !important;
}

body.no-filter * {
    filter: none !important;
}

body.no-transition * {
    transition: none !important;
}

.import-page {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}

.import-page input {
    position: absolute;
    width: 100%;
    height: 100%;
    color: transparent;
    cursor: pointer;
}

.import-page i {
    transform: translateY(-20%);
    pointer-events: none;
    font-size: 250px;
    color: var(--third-transparent);
}

.import-page.uploaded i {
    color: var(--main-color);
}

.import-page button, .import-page .fake-btn {
    position: absolute;
    display: none;
    bottom: 20%;
    border: none;
    outline: none;
    padding: 12px 24px;
    border-radius: 8px;
    background: var(--main-color);
    cursor: pointer;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.import-page .fake-btn {
    display: inline;
    cursor: context-menu;
    background: none;
    color: var(--third-transparent);
}

.import-page.uploaded .fake-btn {
    display: none;
}

.import-page.uploaded button {
    display: inline;
}

.controller-btn.as-label {
    margin: 0;
}

.extra-modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000000;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .6);
}

.extra-modal.active {
    display: flex;
}

.extra-modal-card {
    padding: 16px;
    max-width: 500px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(101, 129, 244, .15);
    line-height: 20px;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.answer-row {
    display: flex;
    margin-top: 12px;
    align-items: stretch;
    gap: 5px;
}

.answer-box {
    display: flex;
    width: 65px;
    height: 35px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgb(101, 129, 244);
    color: rgb(255, 255, 255);
}

@media(max-width: 1240px) {
    .statistic-page {
        flex-direction: column;
    }

    .statistic-col:last-child {
        max-width: 100%;
    }

    .simple-chart {
        width: 100%;
    }

    .page-search input {
        min-width: 300px;
    }

    .statistic-page:last-child {
        max-width: 100%;
        overflow-x: scroll;
    }

    .statistic-page:last-child::-webkit-scrollbar {
        height: 0;
    }

    .page-info p {
        max-width: 250px;
    }
}

@media(max-width: 1000px) {
    .db-header-content {
        justify-content: center;
        gap: 24px;
    }

    .page-info {
        display: none;
    }

    .page-search {
        display: flex;
        width: 100%;
        min-width: max-content;
        gap: 5px;
    }

    .page-search input {
        min-width: 150px;
        width: 100%;
    }

    .db-content {
        margin-left: 100px;
        min-width: calc(100vw - 125px);
        max-width: calc(100vw - 125px);
    }

    .related-search {
        transform: translateY(48px);
    }

    .welcome-chat h1 {
        font-size: 20px;
    }

    .welcome-chat p {
        max-width: 85%;
        font-size: 12px;
    }

    .full-page-modal .modal-card {
        max-width: 85%;
    }

    .full-page-modal .form-image img {
        width: 250px;
        height: 150px;
    }

    .full-page-modal .form-header h5 {
        line-height: 24px;
        font-size: 20px;
    }

    .full-page-modal .form-header p {
        line-height: 20px;
        font-size: 12px;
    }

    .full-page-modal .form-form label {
        font-size: 12px;
    }
}

@media(max-width: 800px) {
    .controller-role {
        display: none;
    }
}

@media(max-width: 700px) {
    .big-chart-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .filter-box {
        width: max-content;
    }
    
    .modal-card {
        width: 100%;
        max-width: 100%;
        min-width: 0;
        height: 100%;
        max-height: 100%;
    }

    .data-card p {
        font-size: 14px;
    }

    .data-card h5 {
        font-size: 24px;
    }

    .controller-date {
        font-size: 12px;
    }

    .controller-btn {
        font-size: 12px;
    }

    .data-grid .dataTable th {
        font-size: 10px;
    } 

    .data-grid .dataTable td {
        font-size: 12px;
    }

    .as-label {
        font-size: 10px;
    }
    .chat-list.collapse {
        display: none;
    }
    
    .chat-content.collapse {
        display: none;
    }

    .full-page-modal .form-image {
        display: none;
    }

    .full-page-modal .day-box, .full-page-modal .add-check-time {
        padding: 8px 12px;
        font-size: 12px;
    }

    .full-page-modal .day-box, .full-page-modal .mass-schedul {
        padding: 8px 12px;
        font-size: 12px;
    }
}

@media(max-width: 550px) {
    .db-header-label {
        display: none;
    }

    .db-section {
        min-height: calc(100vh - 130px);
        min-height: calc(100vh - 130px);
    }

    .data-controller {
        flex-direction: column;
        gap: 12px;
    }

    .full-page-modal .modal-card {
        max-width: 100%;
    }

    .full-page-modal .modal-card {
        padding: 24px;
    }

    .form-image {
        display: none;
    }

    .form-form {
        max-height: 100%;
    }
}

@media(max-width: 450px) {
    .db-nav {
        transform: translateX(-100%);
        padding-left: 8px;
        min-width: 216px;
        max-width: 216px;
    }

    .db-content {
        margin-left: 24px;
        min-width: calc(100vw - 50px);
        max-width: calc(100vw - 50px);
    }
}

@media(max-width: 350px) {
    .db-content {
        margin-left: 12px;
        min-width: calc(100vw - 25px);
        max-width: calc(100vw - 25px);
    }
}